%section#top-header.row
  %h1.col-md-2
    = link_to "Myflix", videos_path
  %ul.col-md-4.clearfix
    %li= link_to "Videos", home_path
    %li= link_to "My Queue", queue_items_path
    %li= link_to "People", people_path
  = form_tag search_videos_path, class: 'col-md-5 navbar-form', method: 'get' do 
    = search_field_tag :search_term, nil, class: 'form-control', placeholder: "Search for videos here"
    %button.btn.btn-default(type="submit") Search
    / submit_tag 'Search', class: 'btn btn-default'
  - if logged_in?  
    #user_links.pull-right
      %ul
        %li.dropdown
          %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
            Welcome,
            = current_user.name
            %b.caret
          %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
            %li
              = link_to 'Account', user_path(current_user)
              = link_to "invite a friend", new_invitation_path
              %a(href="#") Plan and Billing
              = link_to 'Sign Out', signout_path
              - if current_user.admin?
                = link_to 'Add a video', new_admin_video_path 
                = link_to 'View Payments', admin_payments_path
